.container{
    background: white;
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;


}
#collapseOne, #collapseTwo, #collapseThree, #collapseFour, .card-header{
    width: 50%;
    align-self: center;
}
.card-header{
    text-align: center;
    color: aqua;

}
a{
    color: #666666;
    background-color: cyan;
    padding: 15px;
    font-size: 25px;
}
h3{

}